.about {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    width: 60%;
}

.aboutPar {
    margin-left:40px;
}

.resumeButton {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(234, 169, 18); /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 90px;
    border: black 2px solid;
}

.resumeButton:hover {
    background-color: #4CAF50;
    color: black;
}
