/* I need the .welcome text centered? */
.home {
    margin: 20px;
  
}

.welcome {
    display: flex;
    text-align: center;
    justify-content: center;
}

.firstSec {
    display: flex;
    justify-content: center;
    width: 60%;
   
}