.header {
    display: flex;
    justify-content: space-between; 
    height: 200px;
    background-color: rgb(169, 205, 43);
  }
  

  .navTabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
  }

  .pageBtn {
    display: flex;
    align-items: baseline;
  }
  
  .image {
    height: 200px;
    margin-right: 20px;
    margin-top: 30px;
  }
  