.contact {
    margin-top: 100px;
    margin-bottom: 100px;
}
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #000;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
    height: 600px;
    border-radius: 7%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.65);
    background-color: rgb(99, 192, 246);

}

.contactForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contactForm input, .contactForm textarea {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.textArea {
    resize: vertical; 
}

.contactForm input[type="submit"] {
    background-color: rgb(234, 169, 18);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 90px;
}

.contactForm input[type="submit"]:hover {
    background-color: #4CAF50;
}

@media (max-width: 900px) {
    .contactForm {
        width: 90%;
    }

}

@media (max-width: 900px), (orientation: landscape) {
    .contactForm {
        width: 90%;
       
    }
  
}

.modal {
    display: flex !important; /* Add this line */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 1s;
}

.modalBtn {
    background-color: rgb(234, 169, 18);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 90px;
    padding: 10px;
    font-size: 15px;
}
  
.modalContent {
    background-color: rgb(101, 154, 240);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    font-size: 25px;
    font-weight: bolder;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

input.valid, textarea.valid {
    background-color: lightgreen;
  }
  
  input.invalid, textarea.invalid {
    background-color: lightcoral;
  }
  