/* Footer.css */
/* Footer.css */
.footer {
  width: 100%;
 position: bottom;
  bottom: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(35, 88, 200);
  color: white;
}

  
  .footer-icons {
    display: flex;
    justify-content: space-between;
    width: 250px; /* adjust this to set the spacing between the icons */
  }
  
  .footer-icon {
    color: white;
  }

  @media (max-width: 900px) {
    .footer {
      height: 80px;
      
    }
    .footer-icons {
      width: 90%;
      size: .5rem;
    }
  }

  @media (max-width: 900px), (orientation: landscape) {
    .footer {
      height: 80px;
      width: 100%;
    }
    .footer-icons {
      width: 90%;
      size: .5rem;
    }
}
