.home {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    text-align: center;
    justify-content: center;
    animation: fadeIn 2s;
    font-size: 4rem;
}

.firstSec {
    display: flex;
    justify-content: center;
    width: 80%;
}

.one {
    margin-left: 30px
}

.two {
    margin-left: 30px
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover, .image6:hover {
    transform: scale(1.1);
}


 @media (max-width: 900px) { 
    .firstSec {
        flex-direction: column;
        align-items: center;
        width: 190%
    }
    .h2Title {
        display: none;
    }
    .aboutPar  {
      width: 150%;
    }
    .image1, .image2, .image3, .image4, .image5, .image6 {
        margin: none;
    }
    .image1, .image2, .image3, .image4, .image5, .image6 {
        width: 60px; 
        height: 60px; 
        margin: 5px; 
      }
    
      .image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover, .image6:hover {
        transform: scale(3); 
      }
    }

        @media (max-width: 900px), (orientation: landscape) {
        .firstSec {
            flex-direction: column;
            align-items: center;
            width: 140%
        }
        .h2Title {
            display: none;
        }
        .aboutPar  {
          width: 100%;
        }
        .image1, .image2, .image3, .image4, .image5, .image6 {
            width: 80px;
            height: 80px;
            margin: 5px; 
          }
        
          .image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover, .image6:hover {
            transform: scale(3); 
          }
        }

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.firstSec p {
    transition: background-color 0.3s ease-in-out;
}

.firstSec p:hover {
    background-color: #f0f0f0;
}

.aboutPar p {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    width: 60%;
    margin: auto;  
    margin-bottom: 20px;
}


.aboutPar p:hover {
    background-color: #f0f0f0;
}

