.home {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    animation: fadeIn 2s;
    font-size: 4rem;
}

.firstSec {
    display: flex;
    justify-content: center;
    width: 80%;
}

.one {
    margin-left: 30px
}

.two {
    margin-left: 30px
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover, .image6:hover {
    transform: scale(1.1);
}


 @media (max-width: 768px) { 
    .firstSec {
        flex-direction: column;
        align-items: center;
    }
    .home {
        height: 100vh;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.firstSec p {
    transition: background-color 0.3s ease-in-out;
}

.firstSec p:hover {
    background-color: #f0f0f0;
}

.aboutPar p {
    transition: background-color 0.3s ease-in-out;
}

.aboutPar p:hover {
    background-color: #f0f0f0;
}

