@import url('https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|emboss|shadow-multiple');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


.header {
    display: flex;
    justify-content: space-between; 
    height: 150px;
    background-image: url('../assets/images/navBg.jpg');
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .navTabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
    padding: 0 20px;
  }
  
  .navTabs li {
    margin: 0 10px; 
  }

  .pageBtn {
    display: flex;
    align-items: baseline;
    background-color: rgb(241, 21, 205);
    padding: 5px;
    border-radius: 90px;;
    border: black 2px solid;
    font-weight: bolder;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.65);
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
  }

  .pageBtn:hover {
    background-color: rgb(233, 69, 255); 
    cursor: pointer;
  }
  
  .image {
    height: 150px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.65);
    border-radius: 20%;
  }
  
  .myName {
    margin-left: 50px;
    font-family: 'times', neon;
    text-shadow: 0 0 5px rgb(162, 0, 255), 0 0 10px rgb(255, 0, 255), 0 0 15px rgb(140, 0, 255), 0 0 20px rgb(225, 0, 255), 0 0 25px rgb(153, 0, 255), 0 0 30px rgb(224, 14, 243), 0 0 35px rgb(241, 21, 205);
    color: #fff;
    font-size: 4.5rem; 
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }
  
  .myName.show {
    opacity: 1;
  }

  #floating-text {
    margin-top: 10px;
    position: absolute;
    animation: float 7s infinite linear;
    font-weight: bolder;
    color: rgb(255, 209, 69);
  }
  
  @keyframes float {
    0% {
      transform: translate3d(0, 0px, 0);
    }
    25% {
      transform: translate3d(70px, 70px, 0);
    }
    50% {
      transform: translate3d(0, 100px, 0);
    }
    75% {
      transform: translate3d(70px, 100px, 0);
    }
    100% {
      transform: translate3d(0, 0, 70px);
    }
  }
  
  
  @media (max-width: 900px) {
    #floating-text {
      display: none;
    }
    .header {
      height: 175px;
      font-size: 10px;
      width: 100vw;
    }
    .myName {
      font-size: 2rem;
  
    }
    .image {
      display: none;
    }
    
  }

  @media (max-width: 900px), (orientation: landscape) and (max-height: 500px) {
    #floating-text {
      display: none;
    }
    .header {
      height: 175px;
      font-size: 10px;
      width: 100vw;
    }
    .myName {
      font-size: 2rem;
  
    }
    .image {
      display: none;
    }
  }

  .navTabs .nav-link.active {
    background-color: rgb(89, 136, 238);; 
    color: #ffff; 
    font-weight: bold; 
    border-radius: 10px; 
  }
  
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  .pageBtn.active {
    background-color: rgb(162, 0, 255);
    /* Additional styles for active .pageBtn */
  }