.myWorkCon {
    margin: 20px;
}
.carousel-root {
  width: 40%; 
  margin: auto; 
  margin-bottom: 20px;
  border: 3px solid #333; 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 2s; 
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* CSS to make carousel slide into position */
@keyframes slideInFromLeft {
0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(0);
}
}

  .carousel .thumbs-wrapper {
    margin: 0; 
  }
  
  .carousel .slide img {
    
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  
  .carouselButton {
    width: 100px;
  
}

.repoBtn {
  background-color: rgb(245, 164, 13);
    cursor: pointer;
    border: black 2px solid;
    border-radius: 90px;
    color: white;
    font-weight: bolder;
   margin: 15px;
  
}

.carousel .slide .legend {
    font-size: 20px;
   
}
.ptag {
    margin-top: 10px;
    justify-self: auto;
    margin-right: 250px;
  }

  @media (max-width: 900px) {
    .carousel-root {
        width: 95%; 
        margin: auto; 
        margin-bottom: 50px;
      }
      .ptag {
        margin:10px;
      }
  }

  @media (max-width: 900px), (orientation: landscape) and (max-height: 500px) {
    .carousel-root {
        width: 95%; 
        margin: auto; 
        margin-bottom: 50px;
      }
      .ptag {
        margin:10px;
      }
  }
  