
.resumeCont {
    margin-top: 50px;
    margin-left: 200px;
    height: 800px;
}

.resumeH2 {
    margin-top: 50px;
}
.resumeButton {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(234, 169, 18); /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 90px;
    border: black 2px solid;
    margin-bottom: 30px;
    width: 250px;
    
}

.resumeButton:hover {
    background-color: #4CAF50;
    color: black;
}

@media (max-width: 600px), (orientation: landscape) and (max-height: 500px) {
    .resumeCont {
        margin-left: 50px;
       
    }
  
}

@media (max-width: 600px) {
    .resumeCont {
        margin-left: 50px;
       
    }

}

   
 
  