.about {
    margin-top: 80px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;
    
}

.aboutPar {
    margin-left:40px;
}

.resumeButton {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(234, 169, 18); /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 90px;
    border: black 2px solid;
    margin-bottom: 30px;
}

.resumeButton:hover {
    background-color: #4CAF50;
    color: black;
}


@media (max-width: 768px) {
    .about {
        height: 120vh;
    }
 }
  